// Load font from biro.woff2
@font-face {
	font-family: 'Biro';
	src: url('biro_script_plus.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
body {
	background-image:
		radial-gradient(#89aee1 10%, transparent 10%),
		radial-gradient(#89aee1 10%, transparent 10%),
		radial-gradient(#e9f259 10%, transparent 10%),
		radial-gradient(#e9f259 10%, transparent 10%);
	background-position: 0px 0px, 80px 80px, -8px 8px, 72px 88px;
	background-size: 160px 160px;
	background-color: #7cf4d3;
	background-repeat: repeat;
}

body {
	--primary: #89aee1 !important;
	--background: #7cf4d3 !important;
	--header: #9effb8 !important;
	--muted-color: #000 !important; /* for my colour issues */
	--color: #000 !important;
}

body.compact * {
	--block-spacing-vertical: 0.5em!important;
	--typography-spacing-vertical: 0 !important;
}
body.compact header nav {
	padding: 0 1em !important;
}

body.compact ul#all {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
body.compact ul#all li {
	list-style-type: none;
	}

@media only screen and (prefers-color-scheme: dark) {
	body {
		--primary: #89aee1 !important;
		--muted-color: #fff !important; /* for my colour issues */
		--background: #1d483c !important;
		--header: #003e11 !important;
		--color: #fff !important;
		background-color: #1d483c;
	}
	nav {
		background: #003e11 !important;
	}
}


article {
	box-shadow: 8px 8px black;
	border: 2px solid black;
	border-radius: 0;
}

header nav {
	padding: 1em 2em !important;
}

button {
	color: black !important;
	background: #e9f259 !important;
	box-shadow: 4px 4px black !important;
	border: 2px solid black !important;
	border-radius: 30px !important;
}
button:hover {
	color: black;
	background: #c9d323 !important;
}

nav {
	background: var(--header);
	box-shadow: 8px 8px black;
	border: 2px solid black;
	border-radius: 40px 0 40px 0;
	padding: 0.5em;
}
footer nav {
	color: black !important;
	background: var(--header);
	/* ,,,, */
}
footer nav a {
	color: black !important;
}



a {
	text-decoration: underline;
}

table tr.subheader {
	background: var(--header);
	border: 4px dashed black;
}
table tr.subheader td {
	text-align: center;
}

@media (min-width: 900px) {
	.complex-input {
		display: flex;
	}
}

body.compact .complex-input {
	display: flex !important;
	flex-direction: row !important;
}

body.compact .complex-input input {
	width: 5em;
	border-radius: 25px 0 0 25px;
	box-shadow: 6px 6px black;
}
body.compact .complex-input button {
	border-radius: 0 25px 25px 0 !important;
	z-index: 1;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
}
